{
	"Environments":
	{
		"Sandbox":
		{
			"Account ID": "",
			"Instance ID": "",
			"Security Group": ""
		},
		"Development":
		{	
			"Account ID": "",
			"Instance ID": "",
			"Security Group": ""
		},
		"Test": 
		{
			"Account ID": "",
			"Instance ID": "",
			"Security Group": ""
		},
		"Production":
		{
			"Account ID": "",
			"Instance ID": "",
			"Security Group": ""
		}
	}
}
